.header {
    background-image: url("./pattern.webp");
    text-align: center;
}

.header h1 {
    padding: 20px;
    font-size: 100px;
    color: rgb(221, 218, 23);
    font-family: Arial, Helvetica, sans-serif;
}

.brushes h3 {
    background-color: aqua;
    font-family: helvetica;
    font-size: 32px;
}

#rate {
    color: blue;
    font-weight: bold;
}

.frames h3 {
    background-color: chocolate;
    font-family: helvetica;
    font-size: 32px;
}

.paint h3 {
    background-color: darkslateblue;
    font-family: helvetica;
    font-size: 32px;
}